.down-animate{
    animation: down 0.8s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes down{
    0%{
        transform: translateY(-15px);
        opacity: 0;
    }
    100%{
      opacity: 1;
        transform: translateY(0);
    }
}

.down-animate2{
  animation: down 0.8s 0.8s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes down{
  0%{
      transform: translateY(-15px);
      opacity: 0;
  }
  100%{
    opacity: 1;
      transform: translateY(0);
  }
}
